body {
  font-size: 13px;
  font-family: Helvetica, Arial;
}

.feed {
  width: 632px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: solid 1px rgb(187, 187, 187);
  margin-left: 20px;
  background-color: #fff;
  margin: 0 20px;
}

.feed__tabs {
  padding: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
}

.feed__tabs button {
  background: rgba(0,0,0,0);
  border: solid 1px #ccc;
  border-radius: 30px;
  color: #999;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  margin-right: 15px;
  outline: none;
  line-height: 2;
  padding: 0px 10px;
  /* transition: color .1s,border-color .1s,background .1s; */
}

.feed__tabs button.pressed {
  background-color: #e9f4fa;
  border-color: #adccf7;
  color: #4884f7;
}

.feed__transaction {
  border-bottom: 1px solid #e9e9e9;
  padding: 20px;
}

.transaction__description {
  display: flex;
}

.transaction__details {
  display: flex;
  flex-direction: column;
}

.transaction__icon {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  position: relative;
  border-radius: 50%;
  text-align: right;
  margin: 0 10px;
}

.transaction__details-name {
  margin: 0 0 5px;
}

.transaction__pay-name {
  color: #545d66;
  font-weight: 700;
}

.transaction__paid {
  color: #545d66;
}

.transaction__details-date {
  display: flex;
  line-height: 16px;
}

.transaction__date {
  font-size: 11px;
  line-height: 16px;
  display: block;
  color: #6a757f;
}

.transaction__audience {
  width: 14px;
  height: 14px;
  color: rgb(64, 64, 64);
  filter: invert(100%);
}

.transaction__message {
  padding: 15px 0 0;
  margin: 0 0 15px;
  font-size: 17px;
}

.transaction__likes {
  display: flex;
}

.transaction__like {
  flex: 0 0 50px;
  padding: 6px 10px;
  text-align: right;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  outline: none;
}

.transaction__heart {
  font-size: 20px;
  color: rgb(64, 64, 64);
  filter: invert(100%);
}

.transaction__heart.liked {
  color: rgb(0, 255, 191);
}

.transaction__likes-likers {
  border-top: 1px solid #eaeaea;
  flex: 1;
  padding: 10px 0;
  color: #6a757f;
}

.transaction__liker {
  color: #057FC6;
}

.transaction__likers {
  color: #057FC6;
}

.transaction__comments {
  display: flex;
}

.transaction__comment-left {
  flex: 0 0 0px;
  padding: 10px;
  margin-left: 25px;
}

.transaction__comment-icon {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  position: relative;
  border-radius: 50%;
  text-align: right;
}

.transaction__comment-right {
  border-top: 1px solid #eaeaea;
  flex: 1;
  padding: 10px 0;
}

.transaction__comment-detail {
  display: flex;
  margin-bottom: 5px;
  position: relative;
  height: 18px;
}

.transaction__comment-name {
  display: flex;
  color: #545d66;
  font-weight: 600;
  margin-right: 10px;
  position: relative;
}

.transaction__comment-date {
  display: flex;
  font-size: 9px;
  color: #979797;
  position: relative;
  bottom: -1px;
}