.friendslist__container {
  display: flex;
  width: 80%;
  margin-left: 100px;
  justify-content: space-evenly;
}

.friendslist {
  width: 632px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(187, 187, 187);
  margin-left: 20px;
  background-color: #fff;
}

.friend {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.friendslist__border {
  border-bottom: 1px solid #e9e9e9;
  padding: 20px;
}

.requestlist__holder {
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.payButton {
  padding-left: 15px;
}

.button__holder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}
