.landing_body {
  display: flex;
  height: 500px;
  margin-top: 60px;
  justify-content: center;
}

.landing_iphone {
  height:487px;
  width: 245px;
  position: absolute;
}

.landing_iphone_video {
  position: absolute;
  top: 60px;
  left: 287px;
}

.landing_nexus {
  height:487px;
  position: absolute;
}

.landing_body_text_box {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 70px;
  text-align: center;
  font-size: 35px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 325;
}

.landing_body_images {
  position: relative;
  width: 600px;
  justify-content: center;
  display: flex;
}

.landing_blinking_cursur {
  position: absolute;
  width: 4px;
  height: 17px;
  z-index: 2;
  margin-top: 125px;
  margin-right: 205px;
}
