.landing_footer_outer{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.footer_container {
  display: flex;
  justify-content: space-around;
}

.landing_footer_container {
  justify-items: center;
    width: 80%;
}

.footer_disclaimer {
  width: 90%;
  margin-left: 60px;
  font-size: 11px;
  color: #7F7F7F;
  margin-top: 25px;
}

.footer_logos {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  /* width: 100px; */
}

.footer_storelogo {
  width: 90px;
  height: 32px;
  justify-items: space-between;
}

.footer_title {
  font-weight: 700;
  color: #262626;
  font-size: 15px;
}

.footer_links_container {
  display:flex;
  flex-direction: column;
  justify-items: center;
}

.footer_links {
  color: #7F7F7F;
  text-decoration: none;
  font-size: 13px;
}
