.landing_body {
  display: flex;
  height: 500px;
  /* border: 1px solid; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 20px;
}

.landing_iphone {
  height:487px;
  width: 245px;
  position: absolute;
  /* left: 425px; */
  /* position: relative; */
}

.landing_iphone_video {
  position: absolute;
  top: 59px;
}

.landing_nexus {
  height:487px;
  position: absolute;
  /* left: 200px; */
}

.landing_body_text {
  width: 30%;
  margin-top: 50px;
  font-size: 18px;
  font-family: -apple-system, "Helvetica Neue";
}

.landing_body_images {
  position: relative;
  width:55%;
  justify-content: center;
  display: flex;
  /* border: 1px solid; */
}
