.landing_navbar {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: white;
}

.landing_logo {
  height: 17px;
  margin-right: 140px;
  margin-top: 8px;
}

.landing_buttons {
  width: 47%;
  display: flex;
  justify-content: flex-end;
}
