.landing_navbar {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;

}

.landing_logo {
  height: 17px;
  margin-right: 140px;
  margin-top: 8px;
}

.landing_buttons {
  width: 47%;
  display: flex;
  justify-content: space-between;
}
