.searchbar {
  width: 200px;
  height: 26px;
  outline: none;
  overflow: hidden;
  border: 1px solid #2169A1;
  padding-left: 5px;
  background-color: #fff;
}

.searchbar_textfield {
  background-color: white;
  height: 30px;
}