.signin_title {
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.signin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 250px;
  background-color: #F7F7F7;
  /* border: 1px solid; */
  border-radius: 7px;
}

.signin_outer_container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.signin_box {
  margin-top: 30px;
}

.signin_email {
  width: 350px;
  background-color: #E7F0FE;
}

.signin_password {
  width: 350px;
  background-color: #E7F0FE;
}

.signin_password_container {
  margin-top: 25px;
}

.signin_signup_link {
  text-decoration: none;
  margin-top: 25px;
  color: #3D95CE;
}

.signin_demo_submit {
  display:flex;
  margin-top: 30px;
  justify-content: space-around;
  width: 100%;
}
