
.signup_outer_container {
  display: flex;
  margin-top: 25px;
}

.signup_box {
  width: 38%;
}

.signup_next_button {
  width: 250px;
}

.signup_title {
  text-align: center;
  font-size: 27px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 325;
  line-height: 1;
}

.signup_flaver_text {
  width: 23%;
  margin: 15px 0;
  font-weight: 325;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
